<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Business Time</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="base  ::adminNavlinks"></div>
    <!---->
    <div class="container">
        <h3 class="p-4">Update Business Time Portal</h3>
        <div class="row p-5 bg-light">
            <div class="col-sm-0 col-md-3"> </div>
            <div class="col-sm-12 col-md-6">
                <form class="form-group" th:object="${update}" th:action="@{/processUpdate}" action="#" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <label>Day</label>
                        <select th:field="*{dayList}" class="form-control">
                            <option th:each="days:${list}" th:text="${days.dayList}" th:value="${days.dayList}"></option>
                        </select>
                    <label>Open Time</label>
                    <input th:field="*{openTime}" class="form-control" type="text" placeholder="Ex:  10 am"/>
                    <label>Close Time</label>
                    <input th:field="*{closeTime}" class="form-control" type="text" placeholder="Ex:  10 am"/>
                    <input type="submit" value="Submit" class="btn-lg btn mt-3"/>
                </form>
            </div>
            <div class="col-sm-0 col-md-3"> </div>

        </div>

    </div>
    <!---->
</div>
<div th:replace="base :: scripts"></div>
</body>
</html>